body {
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-dark);
}

h1, h2, h3 {
  font-family: 'Neucha';
  line-height: 1.2;
  font-weight: 400;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.outer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  background-color: var(--color-light);
  z-index: 0;
}

.outer::before {
  content: '';
  inset: 0;
  position: absolute;
  z-index: -1;
  background-image: url("../images/hero/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.content {
  width: 100%;
  max-width: 1110px;
  padding: 100px 0;
  margin: 0 auto;
  position: relative;
}
