.header {
  height: 914px;
}

.header__span {
  color: var(--color-primary);
}

.header__img {
  height: 525px;
  position: absolute;
  top: 55px;
  right: -270px;
}

.header__text {
  margin-top: 200px;
  display: flex;
}

.header__text-left {
  margin-right: 30px;
}

.header__text-right p:nth-of-type(2) {
  margin-top: 10px;
}

.header__text-left,
.header__text-right {
  flex: 1;
}

.header__link {
  display: block;
  width: 148px;
  background-color: var(--color-primary);
  padding: 12px 24px;
  font-weight: bold;
  margin-top: 50px;
  color: var(--color-white);
}

.header__link:hover {
  background-color: var(--color-primary-dark);
}
