* {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
  }

  img {
  display: block;
  }

  button {
  display: block;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  }

  a {
  text-decoration: none;
  }
